<div>
  <h1 style="text-align: center">{{header}}</h1>

  <div *ngIf="titre; then unTitre; else pasTitre">
    <h1>ne parait jamais, même pas dans le code</h1>
  </div>

  <ng-template #unTitre>
    <h2 style="text-align: center">{{titre}}</h2>
  </ng-template>

  <ng-template #pasTitre>
    <h2 style="text-align: center">oh oh la variable titre n'existe pas</h2>
  </ng-template>

  <ul>
    <li *ngFor="let contact of contacts">
      <span>{{contact.first_name}} {{contact.last_name}}</span>
    </li>
  </ul>

  <!-- <input type="text" #lettres value="Manny Henri" (keyup)="0">
  <h3 [class.parfait]="nombreLettres('parfait')">{{ lettres.value.length }}</h3> -->

  <!-- <input type="text" #lettres value="Manny Henri" (keyup)="0">
  <h3 [ngClass]="lettres.value.length > 15 ? 'trop' : 'parfait'">{{ lettres.value.length }}</h3> -->

  <app-contacts></app-contacts>
  <!-- <ul [ngSwitch]="person">
    <li *ngSwitchCase="'Tatum'">Coucou</li>
    <li *ngSwitchCase="'Anet'">Bises</li>
  </ul> -->

  <button>Hello World ! 1</button>
  <button mat-button>Hello World ! 2</button>
  <button mat-raised-button>Hello World ! 3</button>
</div>