<div [style.background-color]="colorbackground">
  <h1 [style.text-align]="textAlign">{{header}}</h1>

  <div *ngIf="titre; then unTitre; else pasTitre">
    <h1>ne parait jamais, même pas dans le code</h1>
  </div>

  <ng-template #unTitre>
    <h2 [style.text-align]="textAlign">{{titre}}</h2>
  </ng-template>

  <ng-template #pasTitre>
    <h2 [style.text-align]="textAlign">oh oh la variable titre n'existe pas</h2>
  </ng-template>

  <ul>
    <li *ngFor="let contact of contacts">
      <span>{{contact.first_name}} {{contact.last_name}}</span>
    </li>
  </ul>

  <!-- <input type="text" #lettres value="Manny Henri" (keyup)="0">
  <h3 [class.parfait]="nombreLettres('parfait')">{{ lettres.value.length }}</h3> -->

  <!-- <input type="text" #lettres value="Manny Henri" (keyup)="0">
  <h3 [ngClass]="lettres.value.length > 15 ? 'trop' : 'parfait'">{{ lettres.value.length }}</h3> -->

  <app-contacts></app-contacts>
  <!-- <ul [ngSwitch]="person">
    <li *ngSwitchCase="'Tatum'">Coucou</li>
    <li *ngSwitchCase="'Anet'">Bises</li>
  </ul> -->

  <button (click)="changeAlign()">Change align</button>
  <button mat-button>Hello World ! 2</button>
  <button mat-raised-button>Hello World ! 3</button>

  <mat-button-toggle #togBut checked disableRipple>Toggle btn</mat-button-toggle>
  <p>{{togBut.checked}}</p>

  <mat-spinner *ngIf="showSpinner"></mat-spinner>
  <button (click)="loadData()">Load Data</button>
</div>